<footer class="bg-secondary">

    <!-- copyright -->
    <div class="pt-4 pb-3 position-relative">
      <div class="container">
        <div class="row d-flex justify-content-between align-items-center">
          <div class="col-lg-6 col-md-5">
            <p class="text-white text-center text-md-start">
            Copyright
      {{ $startYear := 2010 }}
              {{ $currentYear := now.Format "2006" }}
              {{ if ne $startYear $currentYear }}
                © {{ $startYear }}-{{ $currentYear }}
              {{ else }}
                © {{ $startYear }}
              {{ end }}
              {{ .Site.Params.copyright }}

              {{ with .Site.Params.theme_copyright }}

              {{ end }} | <a href="/privacy-policy">Privacy policy</a>
            </p>
          </div>

           <!-- social icon -->
           <div class="d-flex col-lg-6 col-md-5 justify-content-end">
            {{ range site.Params.social }}
            <div class="list-inline-item mb-2">
              <a class="social-icon-outline" href="{{ .link | safeURL }}" target="_blank" aria-label="{{.title}}">
                <i class="{{ .icon }}"></i>
              </a>
            </div>
            {{ end }}
          </div>

        </div>
      </div>
      <!-- back to top -->
      <button class="back-to-top" aria-label="scroll to top">
        <i class="ti-angle-up"></i>
      </button>
    </div>
  </footer>
